body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Bill_Nye_2017.jpg");
  background-size: 700px;
}

img {
  display: none;
}

h1,
h2,
h3,
p,
li {
  color: white;
  transform: rotate(2deg);
}

h1 {
  transform: rotate(-15deg);
  font-size: 5em;
}
